body {
    font-family: Helvetica, arial, sans-serif;
}

h1 {
    color: #3a241d;
    text-align: center;
}

#pagina {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.contenedor {
    flex: 1 0 20%;
    position: relative;
    align-items: center;
    background-color: rgb(231, 231, 231);
    /* Se vuelve a inicializar display flex para el contenedor hijo */
    display: flex;
    flex-direction: column;
}


#contenedor-izquierdo {
    order: 1;
}

#contenedor-derecho {
    order: 3;
}


.contenedor-componente {
	position: relative;
	height: 10%;
}

.componente {
	position: relative;
	max-width: 150%;
	max-height: 150%; 
    z-index: 2;
}


#placita {
    flex: 1 1 60%;
    order: 2;
    background-color: rgb(255, 255, 255);
    /* width: 60%;
	height: 45%; */

    /* Se vuelve a inicializar display flex para el contenedor hijo */
    display: flex;
    flex-direction: column;
}

.cielo {
    flex: 1 0 30%;
	/* height: 80%;
	width: 60%; */
	background: #96cbd9;
	/* border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 1; */
    
}

.suelo {
    flex: 1 0 50%;
	/* width: 60%;
	height: 45%; */
	background: #9bda92;
	/* position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: -1; */
}


#plaza1, #plaza2, #plaza3 {
    max-width: 400%;
    max-height: 300%;
}